In [67]:
import streamlit as st
import plotly_express as px
import pandas as pd
df = pd.read_csv("vehicles_us (2).csv")

Number of cars per year by manufacturer

In [68]:
df['manufacturer'] = df['model'].apply(lambda x: x.split()[0] if isinstance(x, str) else None)
print(df.head())

   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed  \
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

  manufacturer
0          bmw
1         ford
2      hyundai
3         ford
4     chrysler

In [69]:
cars_per_year = df.groupby(['manufacturer', 'model_year']).size().reset_index(name='counts')
print(cars_per_year)

    manufacturer  model_year  counts
0          acura      1999.0       3
1          acura      2001.0       6
2          acura      2002.0       2
3          acura      2003.0      10
4          acura      2004.0      16
..           ...         ...     ...
522   volkswagen      2015.0      58
523   volkswagen      2016.0      53
524   volkswagen      2017.0      29
525   volkswagen      2018.0      11
526   volkswagen      2019.0       1

[527 rows x 3 columns]

Average days listed by model

In [70]:
mean_days_listed = df.groupby('manufacturer').agg({'days_listed': 'mean'}).reset_index()
print(mean_days_listed)

     manufacturer  days_listed
0           acura    40.122881
1             bmw    42.419476
2           buick    39.206642
3        cadillac    41.869565
4       chevrolet    39.616153
5        chrysler    38.798329
6           dodge    40.347410
7            ford    39.455098
8             gmc    40.590833
9           honda    39.224964
10        hyundai    38.765558
11           jeep    39.537336
12            kia    41.835897
13  mercedes-benz    38.560976
14         nissan    38.760599
15            ram    40.000905
16         subaru    39.148585
17         toyota    39.414141
18     volkswagen    38.894131